@import 'reset.css';

ul {
  margin: 1rem auto 0 auto;
  width: 50vw;
  text-align: center;
  list-style-type: none;
}

ul li,
ul li:visited,
ul li:link,
a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

ul li {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li:hover {
  background-color: rgb(255, 237, 215);
  transition: all 0.3s;
  color: rgb(43, 43, 43);
  font-size: 1.25rem;
}
